*{
    margin: 0%;
    padding: 0%;
}

header{
	margin: 0%;
	padding: 0%;
}
.center {
    margin-top: 1%;
    width: 150px;
    height: 150px;
  }

.logo h2{
    font-size: 55px;
    margin-top: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color: rgb(0, 0, 0);
    text-decoration: solid; 
}


.logo h4{
	font-size: 28px;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
	color: rgb(0, 0, 0);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.logo h5{
    text-align: center;
    font-size: 28px;
    color:rgb(0, 0, 0);
    margin-top: 70px;
}
.logo h6{ 
    text-align: center;
    font-size: 28px;
    color:rgb(0, 0, 0);
    bottom: -500px;
}

.textbox{
    text-align: center;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 80px;
    line-height: 2px;

}
.btn{
    width: 350px;
    height: 80px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 0px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
    background-color: 	rgb(251, 213, 111);
	cursor: pointer;
}
.textbox input{
    text-align: left;
    font-size: 15px;
    padding:  0.4em;
    padding-bottom:190px;
    width: 50%;
    height: 10px;
    border-radius: 9px;
    border-width: 1px;
    background-color:rgb(229, 226, 226);
}
  @media screen and (max-width: 770px) {
    .logo h2{
      font-size: 40px;
    }
	.textbox input{
		width: 90%;
	}
	img{
    width: 60%;
}
	.btn{
    width: 300px;

	}
 }
  
  @media screen and (max-width: 450px) {
    .logo h2{
      font-size: 40px;
    }
		img{
    width: 70%;
}
  }
