*{
    margin: 0%;
    padding: 0%;
}

header{
	margin: 0%;
	padding: 0%;
}

.logo h2{
    font-size: 55px;
    top: 0%;
    text-align: center;
    margin-top: 45px;
    width: auto;
    height: auto;
    color: white;
    text-decoration: solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


.logo h4{
	font-size: 28px;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
	color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body{
	background-image: url(bildet2.jpg);
	background-repeat:no-repeat;
	background-size: cover;
    background-position: center;
	height:100%;
    width: 100%;
}
.logo h5{
    text-align: center;
    font-size: 28px;
    color:white;
    margin-top: 70px;
}
.logo h6{ 
    text-align: center;
    font-size: 28px;
    color:white;
    bottom: -500px;
}

.textbox{
    text-align: center;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 80px;
    line-height: 2px;

}
.btn{
    width: 350px;
    height: 80px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 0px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
    background-color: rgb(241, 238, 35);
}
.textbox input{
    text-align: left;
    font-size: 15px;
    padding:  0.4em;
    padding-bottom:190px;
    width: 50%;
    height: 10px;
    border-radius: 9px;
    border-width: 0px;
    background-color:rgb(229, 226, 226);
}
  @media screen and (max-width: 770px) {
    .logo h2{
      font-size: 40px;
    }
	.textbox input{
		width: 90%;
	}
	img{
    width: 60%;
}
	.btn{
    width: 300px;

	}
 }
  
  @media screen and (max-width: 450px) {
    .logo h2{
      font-size: 40px;
    }
		img{
    width: 70%;
}
  }


