header{
  margin: 0%;
  padding: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo h2{
  text-align: center;
  font-size: 35px;
  color: snow;
}

body{
  height: 100%;
    background-image: url(numberss.png);
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center;
    
}

h5{
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 35px;
  font-weight: 900;
  margin-top: 25px;
}

h4{
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 85px;
}


  .container {
    margin: auto;
    max-width: 300px;
    border-radius: 5px;
    padding: 44px;
    background-color: white;
  }

  .container h1{
    font-size: 30px;
  }



  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    }

  input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    .btn {
      background-color:#fbd56f;
      color:black;
      font-size: 16px;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }

@media screen and (max-width: 770px) {
  .logo h2{
    font-size: 40px;
  }
  body{
    height: 100vh;
  }
}

@media screen and (max-width: 450px) {
  .logo h2{
    font-size: 40px;
  }
    body{
    height: 125vh;
  }

}
