*{
  margin: 0%;
  padding: 0%;
}

header{
margin: 0%;
padding: 0%;
}

.logo h1{
  font-size: 55px;
  top: 0%;
  text-align: center;
  margin-top: 75px;
  color: white;
  width: auto;
  height: auto;
}

body{
  height: 100%;
    background-image: url(numberss.png);
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center;    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-top: 100px;
}

h2{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
}

.btn{
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 55px;
  height: 80px;
  font-size: 22px;
  border-radius: 8px;
  border-right: 0px;
  background-color: white;
}
  @media screen and (max-width: 770px) {
  body{
    height: 100vh;
  }
}
  @media screen and (max-width: 500px) {
  body{
    height: 120vh;
  }
}

